.button
{
    border-radius: 0px;
    color: $white;
    min-width: 80px;

    &-light-blue {
        background-color: #92dce5 !important;
    }
    &-red {
        background-color: #ef6461 !important;
    }
}