.article {
    flex: 1 1 100%;
    box-sizing: border-box;
    @include media-breakpoint-up(md) {
        & {
            flex: 0 0 25%;
        }
    }
    &__img {
        width: 100%;
        height: 180px;
        background-position: center;
        background-size: cover;
        display: block;
        @include media-breakpoint-up(md) {
            & {
                height: 150px;
            }
        }
    }
    &__name {
         display: block;
         font-weight: 700;
         @include media-breakpoint-up(md) {
            & {
                font-size: 22px;
            }
        }
    }
    &__meta {
        display: block;
        font-weight: 400;
        color: $nickel;
    }
}