.article {
    &__img {
        width: 100%;
        height: 230px;
        background-position: center;
        background-size: cover;
        display: block;
    }
    &__name {
         display: block;
         font-weight: 700;
    }
    &__meta {
        display: block;
        font-weight: 400;
        color: $nickel;
    }
}