.header {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 4;

    &__navbar {
        background-color: $white;
        color: $eerie-black;
        height: 96px;

        &__logo {
            font-size: 40px;
            font-weight: 500;
            position: relative;

            sup {
                font-size: 14px;
                font-weight: 600;
                display: block;
                position: absolute;
                top: 5px;
                right: -20px;
            }
        }

        &__toggler {
            border: none;
            text-align: center;

            &__icon {
                background: none !important;
                font-size: 28px;
                color: $eerie-black !important;
            }

        }

        &__menu {
            .nav-link {
                color: $eerie-black !important;

                @include media-breakpoint-up(md) {
                    font-size: 24px;
                }

                &.active {
                    color: $fuzzy-wuzzy !important;
                }
            }
        }
    }
}